// 颜色定义规范
$color-h-background = rgb(164,202,182)
$color-b-background = rgb(31,38,35)
$color-m-background = rgb(196,203,207)
//高度定义规范
$height-h = '80px'
//定义字体
$font-title-size = '28px'
$font-title-color = '#fff'